/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */
  --primary-orange: hsl(26, 100%, 55%);
  --very-dark-orange: hsl(2.917, 91.1%, 27.8%);
  --dark-orange: hsl(26, 100%, 45%);
  --soft-orange: hsl(38.82, 55%, 69%);
  --pale-orange: hsl(25, 110%, 95%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(211, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --darker-gray: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75);

  /* Font sizes */
  --base-font-size: 16px;
  --fs-xs: 0.75rem; /* Extra Small (12px) */
  --fs-s: 0.8125rem; /* Small (13px) */
  --fs-m: 0.9375rem; /* Medium (15px) */
  --fs-n: 1rem; /* Normal (16px) */
  --fs-l: 1.125rem; /* Large (18px) */
  --fs-xl: 1.25rem; /* Extra Large (20px) */
  --fs-xxl: 1.375rem; /* Extra Extra Large (22px) */
  --fs-3xl: 1.5rem; /* Triple Extra Large (24px) */
  --fs-4xl: 1.75rem; /* Quadruple Extra Large (28px) */
  --fs-5xl: 2rem; /* Quintuple Extra Large (32px) */
  --fs-6xl: 2.75rem; /* 44px */
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-grayish-blue);
  background-color: var(--white);
  min-height: 100vh;
}

/* images */
img,
picture {
  display: block;
  max-width: 100%;
}

/* form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for people who've turned them off  */
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  width: 90%;
  margin: 2% 5%;
  max-width: 70rem;
  position: relative;
}

h1,
h2 {
  font-weight: 700;
  margin-top: 0;
  line-height: 1.1;
}

/* colors */
.bg-accent {
  background-color: var(--primary-orange);
}
.bg-light {
  background-color: var(--pale-orange);
}

.text-dark {
  color: var(--very-dark-blue);
}
.text-accent {
  color: var(--primary-orange);
}

/* -----Header Styles ---------- */
header {
  padding: 1em 0;
  text-align: center;
  position: relative;
}

.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  width: 60%;
  height: 100vh;
  font-size: var(--fs-l);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 1000;
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

.header__nav-visible {
  transform: translateX(0); /* Move the menu back to its original position */
}

.overlay {
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 900;
  display: none;
}

.overlay-visible {
  display: block;
}

.header__nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2rem;
  height: 2rem;
  padding: 0em;
  background: var(--white);
  color: var(--very-dark-blue);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.header__nav-toggle:focus,
.header__nav-toggle:hover,
.header__nav-link:hover,
.header__nav-link:focus {
  opacity: 0.6;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--very-dark-blue);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__nav-item:first-child {
  margin-top: 4.5rem;
}

.header__nav-item {
  margin-left: 1rem;
  text-align: left;
}

.header__nav-link {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.header__nav-item:hover .header__nav-link {
  color: hsl(220, 13%, 10%);
}

.header__nav-close {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  background: transparent;
  border: none;
  font-size: var(--fs-3xl);
  color: var(--very-dark-blue);
  cursor: pointer;
}

.logo {
  text-decoration: none;
  margin-left: 3rem;
}

.header__logo,
.footer__logo-text {
  font-size: var(--fs-5xl);
  color: var(--very-dark-blue);
  margin-bottom: 0.5rem;
}

.header__logo:hover {
  color: var(--dark-grayish-blue);
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon--cart {
  margin-right: 1rem;
}

.header__icon--user {
  height: 24px;
}

.header {
  border-bottom: 1px solid var(--grayish-blue);
}

/* Cart content styling */
.cart-content {
  display: none;
  position: absolute;
  top: calc(100% + 35px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 100%;
  height: auto;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6rem;
  z-index: 999;
}

/* Show cart content */
.cart-content.show {
  display: block;
  padding: 6rem 0;
}

/* Orange dot style */
#cart-icon.has-items::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--primary-orange);
  border-radius: 50%;
}

/* Style for cart items */
.cart-items {
  width: 340px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.cart-item__image {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

.empty-cart-message__heading {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem 1.5rem 1rem;
  font-size: var(--fs-n);
  text-align: left;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.cart-item__details {
  text-align: left;
}

.empty-cart-message__text,
.cart-item__title,
.cart-item__price,
.cart-item__quantity {
  font-size: var(--fs-n);
  color: var(--grayish-blue);
}

.cart-item__total {
  margin: 0;
  font-weight: bold;
  color: var(--very-dark-blue);
}

.cart-item__remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: auto;
}

.checkout-button {
  margin: 1rem auto;
  width: 90%;
}

.empty-cart-message__heading,
.cart-heading {
  display: block; /* Ensure the heading is always displayed */
}

/* -----Main Styles ---------- */
/* Hero section styles */
.hero__image {
  width: 100%;
  height: auto;
}

/* Hide tablet/desktop hero image by default */
.tablet-desktop-image {
  display: none;
}

.hero__text {
  padding: 1rem;
  line-height: 2;
  text-align: center;
}

.hero__title {
  font-size: var(--fs-4xl);
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: var(--fs-s);
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.hero__button,
.checkout-button {
  display: inline-block;
  background-color: var(--primary-orange);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px 80px;
  font-size: var(--fs-m);
  font-weight: 600;
  cursor: pointer;
}

/* Hover effect */
.hero__button:hover,
.about__learn-more-button:hover,
.checkout-button:hover {
  background-color: var(--dark-orange);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Focus effect */
.hero__button:focus,
.about__learn-more-button:focus,
.checkout-button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5); /* Add a glowing orange border on focus */
}

/* Active effect */
.hero__button:active,
.about__learn-more-button:active,
.checkout-button:active {
  transform: translateY(1px); /* Move the button slightly down on click */
  box-shadow: none; /* Remove the shadow on click */
}

.checkout-button {
  display: none;
}

/* Bestsellers Section Styles */
.bestsellers,
.featured-categories {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.bestsellers__title,
.about__title,
.featured-categories__title,
.about-men__title,
.about-women__title {
  font-size: var(--fs-xl);
  color: var(--very-dark-blue);
  margin-bottom: 0.75rem;
}

.model-link {
  text-decoration: none;
}

.item-details {
  margin: 1em 0;
}

.item-title {
  color: var(--very-dark-blue);
}

.item-price {
  color: var(--dark-grayish-blue);
}

.item-title:hover,
.item-price:hover,
.item-title:focus,
.item-price:focus {
  color: var(--primary-orange);
  cursor: pointer;
}

.item-title {
  font-size: var(--fs-mobile-large);
  font-weight: 600;
  margin-bottom: 0.125em;
}

.item-price {
  font-size: var(--fs-m);
}

/* About Section Styles */
.about__content {
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.6;
}

.about__title,
.about-men__title,
.about-women__title {
  margin-top: 0.5em;
}

.about__learn-more-button {
  display: inline-block;
  background-color: var(--primary-orange);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px 40px;
  font-size: var(--fs-m);
  font-weight: 600;
  cursor: pointer;
}

.about__description,
.about-men__description,
.about-women__description {
  margin-bottom: 1em;
}

/*----- Footer Section Styles ------*/
.footer {
  margin-top: 2rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__column {
  background-color: var(--soft-orange);
  padding: 2em;
}

.footer__row,
.contact-footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  margin-bottom: 1.5em;
}

.footer__heading {
  font-size: var(--fs-mobile-large);
  font-weight: 600;
  color: var(--very-dark-blue);
  margin-bottom: 0.125em;
}

.footer__paragraph {
  font-size: var(--fs-m);
  color: var(--very-dark-blue);
  line-height: 1.6;
  margin-top: 1em;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__label {
  color: var(--very-dark-blue);
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.footer__label,
.footer__input {
  font-size: var(--fs-m);
}

.footer__input,
.footer__button,
.form-submit,
.product__add-to-cart {
  border: none;
  border-radius: 5px;
}

.footer__input,
.footer__button {
  padding: 0.5em;
  margin-bottom: 1em;
}

.footer__button,
.form-submit,
.product__add-to-cart {
  background-color: var(--primary-orange);
  color: var(--white);
  font-weight: 600;
  padding: 0.5rem 1rem;
  font-size: var(--fs-m);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer__button:hover,
.form-submit:hover,
.product__add-to-cart:hover {
  background-color: var(--pale-orange);
}

.footer__logo {
  text-decoration: none;
  margin-bottom: 1.875rem;
}

.footer__menu-social {
  margin-top: 1em;
}

.footer__menu-list,
.footer__social {
  list-style-type: none;
  padding: 0;
}

.col {
  width: 100%;
  line-height: 1.6;
}

.col + .col {
  margin-left: 2em;
}

.footer__social-item {
  margin-bottom: 0.5em;
}

.footer__menu-link,
.footer__social-link {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-size: var(--fs-m);
}

.footer__menu-link:hover,
.footer__social-link:hover {
  color: var(--primary-orange);
}

.attribution {
  background-color: var(--soft-orange);
  text-align: center;
  color: var(--very-dark-blue);
  font-size: var(--fs-xs);
  padding: 2rem;
}

.attribution a {
  color: var(--very-dark-orange);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--darker-gray);
  text-decoration: underline;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: var(--very-dark-blue);
  color: var(--white);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  font-size: var(--fs-xl);
  cursor: pointer;
  border-radius: 50%;
  display: block; /* Show by default */
}

.back-to-top:hover {
  background-color: var(--dark-grayish-blue);
}

/* -----About Page Styles ---------- */
.about .about__heading,
.contact__heading {
  margin-bottom: 1.5rem;
  font-size: var(--fs-4xl);
  text-align: center;
  padding: 4rem 0;
  background-color: var(--soft-orange);
  color: var(--very-dark-blue);
}

.about__content-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.about__subtitle,
.our-values__heading {
  color: var(--very-dark-blue);
  margin: 1rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--grayish-blue);
}

.about__story-description {
  margin-bottom: 1rem;
}

.our-values__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.875rem;
  margin-top: 1.875rem;
}

.value-item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.4;
}

.value-item h3 {
  font-size: var(--fs-l);
  font-weight: 600;
  color: var(--very-dark-blue);
}

.value-item p {
  margin-top: 1rem;
}

.our-philosophy {
  margin-top: 1.875rem;
  padding: 1.5rem 1rem;
  background-color: #d9d9d9;
  color: #283d59;
}

.our-philosophy__text p {
  margin: 1rem 0;
}

/* -----Men & Women Page Styles ---------- */
.men-hero__content,
.women-hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.men-hero__title,
.women-hero__title {
  margin: 1rem 0;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.men-hero__subtitle,
.women-hero__subtitle {
  margin: 6% 5%;
  line-height: 1.5;
}

.featured-categories__header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.featured-categories__title {
  width: 100%;
}

.sort-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  color: var(--dark-grayish-blue);
}

/* About Men Section */
.about-men__content,
.about-women__content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

/* -----Contact Page Styles ---------- */
.contact-form {
  width: 100%;
  max-width: 400px;
}

.contact-form__heading,
.contact-info__heading {
  font-weight: 600;
  color: var(--very-dark-blue);
}

.contact-form__form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: var(--very-dark-blue);
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.form-label,
.form-input {
  font-size: var(--fs-m);
}

.form-input,
.form-textarea {
  width: 100%;
  border: 1px solid var(--grayish-blue);
  border-radius: 5px;
}

.form-input:hover {
  border-color: var(--light-blue);
}

.form-label:hover {
  color: var(--light-blue);
}

.form-textarea {
  padding: 1.5em;
}

.form-input,
.form-submit {
  padding: 0.5em;
  margin-bottom: 1em;
}

.form-submit {
  margin-top: 1.5em;
  padding: 0.75em 1em;
}

.contact-info {
  margin-top: 3.5em;
}

.row {
  margin-bottom: 1.5em;
}

.contact-info__heading {
  margin-bottom: 0.5em;
}

.row p {
  font-size: var(--fs-m);
  line-height: 1.5;
}

/* -----Product Page Styles ---------- */
.product-slider {
  display: flex; /* Display images in a row */
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* Snap images to the container's edges */
}

.product-slider__image {
  flex: 0 0 auto; /* Prevent images from growing or shrinking */
  width: 100%;
  height: auto;
  scroll-snap-align: center; /* Ensure images snap to the center */
}

.product-thumbnails {
  display: none;
}

.product-slider__prev,
.product-slider__next {
  position: absolute;
  top: 50%;
  background-color: var(--white);
  border: none;
  border-radius: 50px;
  padding: 1rem 1.25rem;
  cursor: pointer;
  /* Additional styles for centering */
  transform: translateY(-50%);
}

.product-slider__prev {
  left: 3%;
}

.product-slider__next {
  right: 3%;
}

.product-thumbnails-wrapper,
.product-slider__prev-btn,
.product-slider__next-btn {
  display: none;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}

.product__subtitle {
  text-transform: uppercase;
  font-size: var(--fs-xs);
  font-weight: bold;
  margin-top: 1rem;
}

.product__title {
  line-height: 2;
  font-size: var(--fs-4xl);
  color: var(--very-dark-blue);
}

.product__description {
  font-size: var(--fs-m);
  line-height: 1.5;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__price-current {
  font-size: var(--fs-4xl);
  font-weight: 600;
  color: var(--very-dark-blue);
}

.product__discount {
  font-weight: 600;
  font-size: var(--fs-n);
}

.old-price {
  text-decoration: line-through;
  font-size: var(--fs-n);
  font-weight: 600;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.quantity-control,
.quantity-control__input,
.quantity-control__decrease,
.quantity-control__increase {
  background-color: var(--light-grayish-blue);
  border: none;
  border-radius: 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
  flex-grow: 0;
  color: var(--very-dark-blue);
  padding: 0.5rem;
  width: 100%;
}

.quantity-control__input {
  text-align: center;
  flex: 1;
}

.quantity-control__decrease,
.quantity-control__increase {
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Add to Cart Button */
.product__add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.product__cart-icon {
  filter: brightness(0) invert(1);
  height: 1rem;
}

/* Tablet media query */
@media only screen and (min-width: 768px) {
  /* General styles */
  body {
    font-size: var(--fs-n);
  }

  /* Hero section styles */
  .hero__title,
  .men-hero__title {
    font-size: var(--fs-5xl);
  }

  .hero__subtitle,
  .men-hero__subtitle,
  .women-hero__subtitle {
    font-size: var(--fs-n);
    margin-bottom: 1.5em;
  }

  .mobile-image {
    display: none;
  }

  .tablet-desktop-image {
    display: block;
  }

  .cart-content {
    width: 50%;
    left: 75%;
  }

  .cart-items {
    width: 90%;
    padding: 0;
  }

  .checkout-button {
    padding: 10px 80px;
  }

  /* Bestsellers and Featured Categories */
  .bestsellers__title,
  .featured-categories__title,
  .about-men__title {
    font-size: var(--fs-3xl);
  }

  .bestsellers__grid,
  .category-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bestseller-item,
  .casual-items,
  .athletic-items,
  .formal-items {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }

  /* About section */
  .about__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 3rem 0;
  }

  .about__text {
    flex: 1;
    margin-left: 1rem;
  }

  .about__title {
    margin-top: 0;
    font-size: var(--fs-3xl);
  }

  .about__image-container {
    flex: 1;
  }

  .about__image {
    width: 100%;
    height: auto;
  }

  /* Footer styles */
  .footer__newsletter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
  }

  .footer__newsletter {
    width: 100%;
  }

  .footer__heading {
    font-size: var(--fs-l);
  }

  .footer__paragraph {
    width: 90%;
  }

  .footer__form {
    width: 100%;
  }

  .footer__label {
    margin-top: 0;
    font-size: var(--fs-l);
    margin-bottom: 1em;
  }

  .footer__menu-social {
    padding: 2.5em;
  }

  .footer__logo-text {
    margin-bottom: 1.5em;
  }

  .footer__input {
    border: transparent;
  }

  /* About Page Styles */
  .about__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .about__image {
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
  }

  .about__story {
    width: 100%;
  }

  .our-values__heading {
    margin-top: 3rem;
    text-align: center;
  }

  .our-values__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.875rem 0 3rem 0;
  }

  .our-philosophy__content {
    display: flex;
    gap: 1.5rem;
  }

  .our-philosophy__text {
    width: 100%;
  }

  .our-philosophy__image {
    width: 100%;
    display: flex;
    align-items: center;
  }

  /* Contact Page Styles */
  .contact__content {
    display: flex;
    flex-direction: column;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
  }

  .contact-form__heading,
  .contact-info__heading {
    font-size: var(--fs-3xl);
  }

  .contact-info {
    margin-top: 0;
  }

  .contact-info__heading {
    margin-bottom: 1.25em;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-footer__row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .contact__newsletter-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  /* Product Page Styles */
  .product-container {
    margin: 7% 5%;
    max-width: none;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .product-images {
    width: 100%;
    position: relative;
  }

  .product-slider__prev,
  .product-slider__next {
    display: none;
  }

  .product-slider__image,
  .product-thumbnails__image,
  .product-thumbnails__img {
    border: 2px solid transparent;
    border-radius: 10px;
  }

  .product-thumbnails,
  .product-thumbnails-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    position: unset;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  .product-thumbnails__image,
  .product-thumbnails__img {
    height: 75px;
    transition: opacity 0.3s ease, border-color 0.3s ease;
  }

  .product-thumbnails__image:hover,
  .product-thumbnails__img {
    opacity: 0.7;
    border-color: var(--primary-orange);
  }

  /* Product Thumbnails Wrapper */

  .product-thumbnails-wrapper {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 70%;
    max-width: 550px;
    z-index: 1000;
  }

  .product-thumbnails-wrapper {
    display: none;
  }

  /* Product Image Overlay */
  .product-image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .product-image-overlay.show {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  /* Product Image Container */
  .product-image-container {
    position: relative;
  }

  .product-image-container img {
    max-width: 550px;
    max-height: 80vh; /* Adjust as needed */
  }

  /* Product Slider Arrows */
  .product-slider__prev-btn,
  .product-slider__next-btn {
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    padding: 1rem 1.25rem;
    cursor: pointer;
  }

  .product-slider__prev-btn {
    left: 16%;
    z-index: 10;
  }

  .product-slider__next-btn {
    right: 16%;
  }

  .product {
    flex: unset;
    gap: 0.5rem;
  }

  .product__title {
    line-height: 1.3;
  }

  .product-page .footer__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .product-page .footer__newsletter-wrapper {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    order: 1;
  }

  .product-page .footer__menu-social {
    margin: 0;
    padding: 2rem 2rem 0 2rem;
    order: 1;
  }
}

/* Medium Desktop media query */
@media (min-width: 1024px) {
  /* Header styles */
  .header {
    border: none;
  }

  .header__nav-toggle {
    display: none;
  }

  .header__nav {
    align-items: center;
    justify-content: flex-start;
    height: auto;
    position: relative;
    font-size: var(--fs-m);
    top: 1.25rem;
  }

  .header__nav-list {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1.75rem;
    align-items: center;
  }

  .header__nav-item:first-child {
    margin-top: 0;
  }

  .header__nav-item {
    margin: 0 1rem 0 0;
  }

  .header__nav-link {
    color: var(--grayish-blue);
    font-weight: 600;
  }

  .header__nav-link:hover,
  .header__nav-link:focus {
    color: var(--very-dark-blue);
  }

  .header__nav-close {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  .header__icons img:nth-child(2) {
    border-radius: 50%;
    height: 50px;
    border: none;
    outline: none;
  }

  .header__icons img:nth-child(2):hover {
    border: 2px solid var(--primary-orange);
  }

  .header__icon--cart {
    height: 20px;
    margin-right: 2rem;
  }

  .contact-info__image {
    background-color: var(--soft-orange);
    display: grid;
    justify-content: center;
  }

  /* Product Page Styles */
  .product-page .header {
    border-bottom: 1px solid var(--grayish-blue);
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .product__description,
  .product__add-to-cart {
    font-size: var(--fs-n);
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
  }

  .quantity-control {
    display: flex;
    justify-content: center;
  }

  .quantity-control,
  .product__add-to-cart {
    padding: 0.75rem 1rem;
  }

  .product-page .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-page .footer__newsletter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    order: 2;
    gap: 1rem;
    padding-top: 2rem;
  }

  .product-page .footer__newsletter {
    margin-top: 5.3rem;
  }

  .product-page .footer__menu-social {
    width: 60%;
  }

  .product-page .attribution {
    order: 3;
    width: 100%;
  }
}

/* Large Desktop media query */
@media (min-width: 1200px) {
  /* Header styles */
  .header {
    padding: 2rem 0;
    border: none;
  }

  /* Container styles */
  .header__content-wrapper,
  .hero__text,
  .bestsellers,
  .about,
  .footer__newsletter-wrapper,
  .featured-categories {
    max-width: none;
    margin: 0 auto;
  }

  .featured-categories {
    margin-top: 3rem;
  }

  /* Hero section styles */
  .hero__text {
    padding: 3.5rem 0;
  }

  /* About section styles */
  .about__text {
    margin-left: 3.5rem;
  }

  /* Footer styles */
  .footer__newsletter-wrapper {
    display: flex;
    flex-direction: row;
  }

  .footer__form {
    margin-top: 0;
  }

  .footer__input,
  .footer__button {
    padding: 1rem;
  }

  /* About Page Styles */
  .about .container,
  .our-values .container,
  .our-philosophy {
    max-width: none;
    margin: 0 auto;
  }

  .about__heading {
    margin-bottom: 0;
  }

  .about__content-wrapper {
    margin: 3.5rem 0;
  }

  .our-values__grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .value-item {
    max-width: 300px;
  }

  .our-philosophy {
    padding: 3rem;
  }

  /* Footer styles */
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer__newsletter-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .footer__newsletter {
    margin-top: 3.5rem;
    margin-bottom: auto;
  }

  .footer__menu-social {
    padding: 2rem;
    margin-top: 0;
    width: 70%;
  }

  .footer__logo-text {
    margin: 0;
  }

  .footer__row {
    margin-top: 1.5rem;
  }

  .attribution {
    width: 100%;
  }

  /* Contact Page Styles */
  .contact__heading {
    margin-bottom: 3rem;
  }

  .contact__content {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-wrapper {
    width: 60%;
    margin: 0;
    gap: 3rem;
  }

  .contact-info__image {
    align-items: center;
  }

  .contact-form__form {
    gap: 0.5rem;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  .form-input,
  .form-submit {
    padding: 1rem;
  }

  .contact-info {
    width: 100%;
  }

  .contact__menu-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
  }

  .contact-footer__row {
    display: flex;
    width: 50%;
    margin-top: 4rem;
    gap: 1rem;
  }

  .contact__newsletter-wrapper {
    margin: 0.5rem 0 0 4rem;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 25%;
    width: 40%;
  }

  .footer__label {
    margin: 1rem 0;
  }

  /* Product Page Styles */
  .product-page .footer__newsletter {
    margin-top: 4rem;
  }
}
