/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */
  --primary-orange: hsl(26, 100%, 55%);
  --dark-orange: hsl(26, 100%, 45%);
  --pale-orange: hsl(25, 100%, 94%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(211, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsla(0, 0%, 0%, 0.75); /* 75% opacity for lightbox background */

  /* font-sizes */
  --fs-mobile-small: 0.75rem; /* 12px / 16px = 0.75rem */
  --fs-mobile-medium: 0.9375rem; /* 15px / 16px = 0.9375rem */
  --fs-mobile-normal: 1rem; /* 16px / 16px = 1rem */
  --fs-mobile-large: 1.125rem; /* 18px / 16px = 1.125rem */
  --fs-mobile-largest: 1.75rem; /* 28px */

  --fs-desktop-smallest: 0.8125rem; /* 13px */
  --fs-desktop-small: 0.9375rem; /* 15px */
  --fs-desktop-medium: 1rem; /* 16px */
  --fs-desktop-large: 1.75rem; /* 28px */
  --fs-desktop-largest: 2.75rem; /* 44px */
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-grayish-blue);
  background-color: var(--white);
  min-height: 100vh;
}

/* images */
img,
picture {
  display: block;
  max-width: 100%;
}

/* form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for people who've turned them off  */
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  width: 90%;
  margin: 2% 5%;
  max-width: 70rem;
  position: relative;
}

h1,
h2 {
  font-weight: 700;
  margin-top: 0;
  line-height: 1.1;
}

/* colors */
.bg-accent {
  background-color: var(--primary-orange);
}
.bg-light {
  background-color: var(--pale-orange);
}

.text-dark {
  color: var(--very-dark-blue);
}
.text-accent {
  color: var(--primary-orange);
}

/* -----Header Styles ---------- */
header {
  padding: 1em 0;
  text-align: center;
}

.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  width: 100%;
  font-size: var(--fs-mobile-large);
}

.header__nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2rem;
  height: 2rem;
  padding: 0em;
  background: var(--white);
  color: var(--very-dark-blue);
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.header__nav-toggle:focus,
.header__nav-toggle:hover,
.header__nav-link:hover,
.header__nav-link:focus {
  opacity: 0.6;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--very-dark-blue);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.header__nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.header__nav-visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-item {
  margin-top: 1rem;
}

.header__nav-link {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.logo {
  text-decoration: none;
  margin-left: 3rem;
}

.header__logo {
  font-size: 2rem;
  color: var(--very-dark-blue);
  margin-bottom: 0.5rem;
}

.header__logo:hover {
  color: var(--dark-grayish-blue);
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon--cart {
  margin-right: 1rem;
}

.header__icon--user {
  height: 24px;
}

/* Hide cart content by default */
.cart-content {
  display: none;
  position: absolute;
  top: calc(100% + 35px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 100%;
  height: auto;
  border: 1px solid var(--light-grayish-blue);
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6rem;
}

.cart-content.show {
  display: block;
}

.cart-items {
  text-align: center;
}

.cart-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: var(--fs-mobile-normal);
  font-weight: 600;
}

.cart-items p {
  font-weight: 600;
  font-size: var(--fs-mobile-normal);
  color: var(--grayish-blue);
}

/* -----Main Styles ---------- */
/* Hero section styles */
.hero__image {
  width: 100%;
  height: auto;
}

.hero__text {
  padding: 1rem;
  line-height: 32px;
  text-align: center;
}

.hero__title {
  font-size: var(--fs-mobile-largest);
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: var(--fs-mobile-medium);
  color: var(--dark-grayish-blue);
  line-height: 25px;
  margin-bottom: 0.75rem;
}

.hero__button {
  display: inline-block;
  background-color: var(--primary-orange);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px 80px;
  font-size: var(--fs-mobile-medium);
  font-weight: 600;
  cursor: pointer;
}

/* Hover effect */
.hero__button:hover,
.about__learn-more-button:hover {
  background-color: var(--dark-orange);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Focus effect */
.hero__button:focus,
.about__learn-more-button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5); /* Add a glowing orange border on focus */
}

/* Active effect */
.hero__button:active,
.about__learn-more-button:active {
  transform: translateY(1px); /* Move the button slightly down on click */
  box-shadow: none; /* Remove the shadow on click */
}

/* Bestsellers Section Styles */
.bestsellers {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.bestsellers__title,
.about__title {
  color: var(--very-dark-blue);
  margin-bottom: 0.75em;
}

.bestseller-item__link {
  text-decoration: none;
}

.bestseller-item__details {
  margin: 1em 0;
}

.bestseller-item__title,
.bestseller-item__price {
  color: var(--very-dark-blue);
}

.bestseller-item__title:hover,
.bestseller-item__price:hover,
.bestseller-item__title:focus,
.bestseller-item__price:focus {
  color: var(--primary-orange);
  cursor: pointer;
}

.bestseller-item__title {
  font-size: var(--fs-mobile-large);
  font-weight: 600;
  margin-bottom: 0.125em;
}

.bestseller-item__price {
  font-size: var(--fs-mobile-medium);
}

/* About Section Styles */
.about__content {
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.6;
}

.about__title {
  margin-top: 0.5em;
}

.about__learn-more-button {
  display: inline-block;
  background-color: var(--primary-orange);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 8px 40px;
  font-size: var(--fs-mobile-medium);
  font-weight: 600;
  cursor: pointer;
}

.about__description {
  margin-bottom: 1em;
}

@media (min-width: 800px) {
  .header__nav-toggle {
    display: none;
  }

  .header__nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    position: relative;
    font-size: var(--fs-desktop-small);
  }

  .header__nav-list {
    display: flex;
    margin-left: 2rem;
  }

  .header__nav-item {
    margin: 0 1rem 0 0;
  }

  .header__nav-link {
    color: var(--grayish-blue);
    font-weight: 600;
  }

  .header__nav-link:hover,
  .header__nav-link:focus {
    color: var(--very-dark-blue);
  }

  .logo {
    margin-left: 0;
  }

  .header__icons img:nth-child(2) {
    border-radius: 50%;
    height: 50px;
    border: none;
    outline: none;
  }

  .header__icons img:nth-child(2):hover {
    border: 2px solid var(--primary-orange);
  }

  .header__icon--cart {
    height: 20px;
    margin-right: 2rem;
  }
}
